<main class="h-screen w-screen bg-stone-50">
  <div class="mx-auto h-full w-full max-w-[1200px] overflow-y-auto px-4 py-6">
    <div class="flex flex-col gap-6 md:flex-row">
      <div class="w-full md:w-1/2">
        <section aria-labelledby="tasks-heading">
          <h2
            id="tasks-heading"
            class="mb-4 text-3xl font-bold"
          >
            Zadania
          </h2>

          <ul>
            @for (task of tasks; track $index) {
              <li>
                <task-list-item
                  [task]="task"
                  [isSelected]="selectedTask()?.id === task.id"
                  (click)="selectTask(task)"
                ></task-list-item>
              </li>
            }
          </ul>
        </section>
      </div>

      <div class="hidden md:block md:w-1/2">
        <task-details-view
          [task]="selectedTask()"
          [onClose]="clearSelectedTask"
        ></task-details-view>
      </div>
    </div>
  </div>
</main>
